@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-team {
    background-image: url('/images/image.png');
    background-size: 100% auto;
    background-attachment:fixed;
}
.aboutus {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home {
  background-image: url('/images/land_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}

